<div class="student-auth-page">

  <div class="auth-card register-card">

    <div class="auth-header">

      <div class="student-icon">
        🎓
      </div>

      <h1>Student Registration</h1>

      <p>Create your College Event account</p>

    </div>


    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >

      <!-- Name -->

      <div class="form-group">

  <label>Name</label>

  <input
    type="text"
    formControlName="name"
    placeholder="Enter your name"
  >

  @if (registerForm.controls.name.touched && registerForm.controls.name.errors?.['required']) {
    <div class="text-danger">
      Name is required.
    </div>
  }

  @if (registerForm.controls.name.touched && registerForm.controls.name.errors?.['minlength']) {
    <div class="text-danger">
      Name must be at least 3 characters.
    </div>
  }

  @if (registerForm.controls.name.touched && registerForm.controls.name.errors?.['maxlength']) {
    <div class="text-danger">
      Name cannot exceed 50 characters.
    </div>
  }

  @if (registerForm.controls.name.touched && registerForm.controls.name.errors?.['pattern']) {
    <div class="text-danger">
      Name can contain only letters and spaces.
    </div>
  }

</div>


      <!-- Email -->

      <div class="form-group">

        <label>Email</label>

        <input
  type="email"
  class="form-control"
  formControlName="email"
  placeholder="Enter your email"
/>

@if (registerForm.controls.email.touched && registerForm.controls.email.invalid) {
  <div class="text-danger mt-1">

    @if (registerForm.controls.email.errors?.['required']) {
      Email is required.
    }

    @if (registerForm.controls.email.errors?.['email']) {
      Enter a valid email address.
    }

  </div>
}

      </div>


      <!-- Phone -->

      <div class="form-group">

        <label>Phone</label>

        <input
  type="tel"
  class="form-control"
  formControlName="phone"
  placeholder="Enter 10-digit mobile number"
  maxlength="10"
/>

@if (registerForm.controls.phone.touched && registerForm.controls.phone.invalid) {
  <div class="text-danger mt-1">

    @if (registerForm.controls.phone.errors?.['required']) {
      Mobile number is required.
    }

    @if (registerForm.controls.phone.errors?.['pattern']) {
      Enter a valid 10-digit Indian mobile number.
    }

  </div>
}

      </div>


      <!-- Department -->

      <div class="form-group">

        <label>Department</label>

        <input
          type="text"
          formControlName="department"
          placeholder="Example: MCA"
        >

      </div>


      <!-- Semester -->

      <div class="form-group">

        <label>Semester</label>

        <select formControlName="semester">

          <option [value]="1">Semester 1</option>
          <option [value]="2">Semester 2</option>
          <option [value]="3">Semester 3</option>
          <option [value]="4">Semester 4</option>
          <option [value]="5">Semester 5</option>
          <option [value]="6">Semester 6</option>
          <option [value]="7">Semester 7</option>
          <option [value]="8">Semester 8</option>

        </select>

      </div>


      <!-- Password -->

      <div class="form-group">

        <label>Password</label>

       <input
  type="password"
  class="form-control"
  formControlName="password"
  placeholder="Create password"
/>

@if (registerForm.controls.password.touched && registerForm.controls.password.invalid) {

  <div class="text-danger mt-1">

    @if (registerForm.controls.password.errors?.['required']) {
      Password is required.
    }

    @if (registerForm.controls.password.errors?.['minlength']) {
      Password must contain at least 8 characters.
    }

    @if (registerForm.controls.password.errors?.['pattern']) {
      Password must contain uppercase, lowercase, number and special character.
    }

  </div>
}

      </div>


      <!-- Confirm Password -->

      <div class="form-group">

        <label>Confirm Password</label>

        <input
  type="password"
  class="form-control"
  formControlName="password_confirmation"
  placeholder="Confirm password"
/>

@if (
  registerForm.controls.password_confirmation.touched &&
  registerForm.controls.password_confirmation.invalid
) {

  <div class="text-danger mt-1">
    Confirm password is required.
  </div>

}

      </div>


      <button
        type="submit"
        class="login-btn"
        [disabled]="loading"
      >

        @if (loading) {
          Registering...
        } @else {
          Create Account
        }

      </button>

    </form>


    <div class="auth-footer">

      <p>
        Already have an account?
        <a routerLink="/student/login">
          Login
        </a>
      </p>

    </div>

  </div>

</div>